{{#partial "content"}}

    <div class="container-fluid">
        <div class="success">
            <h3>Thank you!!<br> for saving this <br>animal </h3>

            <a href="/animal-detail"><button class="btn">com.Animal's Record</button></a>
            <a href="/sighting-detail"><button class="btn">com.Sightings Record</button></a>
            <a href="/endangered-detail"><button class="btn">Endangered Record</button></a>

        </div>
    </div>

{{/partial}}
{{> layout.hbs}}