{{#partial "content"}}
    <div class="container-fluid">
        <div class="index">
            <h3 class="text-center mb-5">CLOSE TO NATURE</h3>
            <p class="text-left">Look deep into nature, and then you </p>
            <p class="text-left">will understand everything better.</p>
            <p class="text-left">The continued existence of wildlife </p>
            <p class="text-left">is important to the quality of life of humans</p>

            <h2>Help us Record any sighting of an animal</h2>
            <a href="/animal-form"><button class="btn">Record animal</button></a>
            <a href="/sighting-form"><button class="btn">Record sightings</button></a>


        </div>
    </div>
{{/partial}}
{{> layout.hbs}}