{{#partial "content"}}

    <div class="container-fluid">
        <div class="endangered-detail">
                <h2>Details of Recorded Animals</h2>
                {{#each endangereds}}
                    <br>
                    <hr>
                    <p>Name: {{name}}</p>
                    <p>Health: {{health}}</p>
                    <p>Age: {{age}}</p>
                    <p>Id: {{ id }}</p>
                {{/each}}
            </div>
        <div class="animal-btn">
            <a href="/endangered-form"><button class="btn">Record a new animal</button></a>
        </div>
    </div>





{{/partial}}

{{> layout.hbs}}