{{#partial "content"}}

    <div class="container-fluid">
        <div class="endangered-form">
            <h1 class="mb-5">Enter Details</h1>
            <form class="form" action="/animal/new" method="post">
                <div class="mb-3 ">
                    <h6>Name:</h6>
                    <input type="text" id="name" placeholder="Enter animal's name" name="name" required>
                </div>
                <div class="mb-3 ">
                <h6>Health:</h6>
                    <select id="health" name="health" type="text" class="form-control transparentInputFields">
                        <option value="Healthy">Healthy</option>
                        <option value="Okay">Okay</option>
                        <option value="Ill">Ill</option>
                    </select>
             </div>
                <div class="mb-3">
                    <h6>Age:</h6>
                    <select id="age" name="age" type="text" class="form-control transparentInputFields">
                        <option value="Newborn">Newborn</option>
                        <option value="Young">Young</option>
                        <option value="Adult">Adult</option>
                    </select>
                </div>

                <input class="btn" type="submit">
            </form>
        </div>
    </div>


{{/partial}}
{{> layout.hbs}}