{{#partial "content"}}

    <div class="container-fluid">
        <div class="sighting-form">
            <h1 class="mb-5">Enter Details</h1>
            <form class="form" action="/endangered/new" method="post">
                <div class="mb-3 ">
                    <h6>Location:</h6>
                    <input type="text" id="name" placeholder="Enter animal's location" name="name" required>
                </div>
                <div class="mb-3 ">
                    <h6>Location:</h6>
                    <input type="text" id="name" placeholder="Enter animal's location" name="name" required>
                </div>
                <div class="mb-3 ">
                    <h6>Ranger Name:</h6>
                    <input type="text" id="name" placeholder="Enter rangerName" name="name" required>
                </div>

                <input class="btn" type="submit">
            </form>
        </div>
    </div>


{{/partial}}
{{> layout.hbs}}