{{#partial "content"}}

    <div class="container-fluid">
        <div class="success">
            <h3>Thank you!!<br> for saving this <br>animal </h3>

            <a href="/animal-detail"><button class="btn">Animal's Record</button></a>
            <a href="/sighting-detail"><button class="btn">Sightings Record</button></a>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}